# Node.js / React
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
**/.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# IDEs and OS Files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
